.App {
  text-align: center;
}
body {background: lightblue;}

.screen {width: 1366px;
        height: 750px;
      background: lightgreen;
      background-size: cover no-repeat;
      color: white;
      position: relative;
      z-index: 1;
        }

.pointer {
    border: 2px solid white;
    background: red;
    width: 100px;
    height: 100px;
    z-index: 500;
    border-radius: 50%;

}
