.footer {
  text-align: center;
  background: #7a8aa3;
  width: 100vw;
  height: 40px;
  color: white;
  position: fixed;
  top: 95vh;
  font-size: 1.5em;
  line-height: 40px;
}
.signature {
  text-decoration: none;
  color: white;
}
.signature:hover{
  text-decoration: none;
}
